@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    text-align: center;
    background: rgb(57,84,107);
    background: linear-gradient(90deg, rgba(57,84,107,1) 0%, rgba(40,62,81,1) 100%);

}

h2 {
    color: rgb(57,84,107);
    font-size: 50px;
    font-family: "Josefin Sans", Roboto;
    height: 1px;
}
